<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='styles/nba.css') }}" rel="stylesheet">
</head>

<body>
    <h1>{{ title }}</h1>
    <div class="player-container">
        <div>
            <img src="{{ player1_image_url }}" alt="{{ player1 }} Image">
            <h2 class="player-name">{{ player1 }}</h2>
        </div>
        <div>
            <img src="{{ player2_image_url }}" alt="{{ player2 }} Image">
            <h2 class="player-name">{{ player2 }}</h2>
        </div>
    </div>
    <div class="stats-container">
        {% for stat in selected_stats %}
        <div class="stat-item">
            <p>{{ stats1[stat] }} {{ stat }}</p>
            <span>{% if stats1[stat] > stats2[stat] %}&gt;{% elif stats1[stat] < stats2[stat] %}&lt;{% else %}={% endif %}</span>
            <p>{{ stats2[stat] }} {{ stat }}</p>
        </div>
        {% endfor %}
    </div>
    <p class="comparison-container">Better Player: {{ better_player }}</p>

    <!-- Button for new comparison -->
    <form action="/" method="get">
        <button type="submit">New Comparison</button>
    </form>
</body>

</html>
