<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Not Found</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Player Not Found</h1>
    <h2>Try Again?</h2>
    <form action="/nba">
        <input type="text" name="my_player" id="my_player" placeholder="Enter a Player" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>