body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.player-container {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: 40px;
}
.player-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-container img {
    width: 100px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    transform: scale(2.5);
}

.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: -250px
}

.stat-item {
    margin: 0 10px;
    transform: scale(1.5);
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.comparison-container {
    font-size: 24px;
    margin: 50px 0;
}

input[type="checkbox"],
button {
    transform: scale(1.5);
}